.shortselect{  
    background:#fafdfe;  
    height:28px;  
    width:70px;  
    line-height:40px;  
    border:2px solid #9bc0dd;  
    border-radius:4px;  
}  
.myinput{
	border: #000000 1px solid;
	font-size: 12px;
	height: 20px;
	width: 300px;
	border-radius: 1px;
	color: #000000;
}
.submit{
	border: 0;
	font-family: Microsoft Yahei;
	
	background: #000000;
	width: 80px;
	height: 25px;
	color: #FFFFFF;
}
